---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Colors">
    <h1>Colors</h1>
    <div class="flex justify-between items-start w-full h-[80vh]">
        <span class="flex w-40 h-20 bg-[#ff0000] border">#ff0000</span>
        <span class="flex w-40 h-20 bg-[#002e66] border">#002e66</span>
    </div>
</Layout>