---
import Card from "../components/Card.astro";
---

<div class="flex justify-between">
  <Card title="Always and Forever" color="#ff0000" id="1" />
  <Card title="DHISA Admin" color="#002e66" id="2" />
</div>
