---
import Card from "../components/Card.astro";
---

<div class="flex-col justify-between md:flex-row">
  <p>Cooming soon...</p>
  <!-- <Card title="Always and Forever" color="#ff0000" id="1" />
  <Card title="DHISA Admin" color="#002e66" id="2" /> -->
</div>
