---
import Layout from "../../layouts/Layout.astro";
import Projects from "../../sections/Projects.astro";
---

<Layout title="Portfolio">
  <div class="flex flex-col">
    <h1 class="text-3xl font-bold mb-5 animate-[entering_.5s_ease-in-out]">My projects</h1>
    <span class="bg-[#ff0000] h-2 w-20 mb-10 animate-[entering_1s_ease-in-out]"></span>
  </div>
  <Projects />
</Layout>
